@import url("https://fonts.googleapis.com/css2?family=Avantt&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Avantt", sans-serif;
  color: white;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

/* body:hover > #trailer {
  opacity: 1;
} */

#trailer {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 20px;

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;
  
  pointer-events: none;
  opacity: 1;
  transition: opacity 500ms ease;
  
  display: grid;
  place-items: center;
}

#trailer:not([data-type=""]) > #trailer-icon {
  opacity: 1;
}

#trailer-icon {
  line-height: 4px;
  width: 6px;
  opacity: 0;
  transition: opacity 400ms ease;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.1;
  }
  
  to {
    rotate: 360deg;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: -1;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(12vmax);
}
.gradient-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #0a042a 0%, #000212 100%);
  z-index: -1;
}

.divider {
  border-bottom: 1px solid white;
}

.divider2 {
  border-bottom: 1px solid black;
}

.divider,
.divider2 {
  margin: 0 auto;
  max-width: 1125px;
  opacity: 0.4;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  padding: 0 8px;
  color: black;
}

nav {
  background-color: rgba(255, 255, 255, 1);
  max-width: 1200px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  letter-spacing: -0.02em;
  border-radius: 16px;
  font-size: 16px;
  line-height: 1.05;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2);
  color: black;
}

.row {
  margin: 0 auto;
  max-width: 1200px;
}

.nav__row {
  padding: 24px;
}

.nav__list {
  display: flex;
}

.nav__button {
  border: none;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: skyblue;
  color: #133061;
  border-radius: 25px;
  padding: 8px 25px;
}

.nav__logo {
  width: 175px;
  height: 50px;
}

.nav__logo--img {
  width: 100%;
  transform: translate(0, -35%);
}

.nav__button:hover {
  cursor: pointer;
}

video {
  z-index: -999;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.hero__video--lighting {
  z-index: -998;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0) 71%
  );
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.search__container {
  width: 100%;
  display: flex;
}

.search__input {
  background-color: #fff;
  border-radius: 40px;
  border: none;
  color: #0a1f44;
  display: inline-block;
  height: 80px;
  line-height: 40px;
  outline: none;
  padding: 0 100px;
  transition: all 300ms ease;
  width: 100%;
  min-width: 1000px;
  font-size: 24px;
  padding-left: 25px;
  box-shadow: 0 12px 30px 0 rgb(0 0 0 / 30%);
}



.search__input:focus {
  border-color: #000000;
}

.fa-magnifying-glass {
  background-color: #000000;
  transition: all 300ms ease;
}

.fa-spinner {
  background-color: black;
  transition: all 300ms ease;
}

.search__btn {
  background-color: #000000;
  transition: all 300ms ease;
  cursor: pointer;
  width: 200px;
  height: 70px;
  margin-left: 20px;
  font-size: 40px;
  color: #fff;
  border-radius: 20px;
  border: none;
  box-shadow: 0 12px 30px 0 rgb(0 0 0 / 30%);
}

#hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero__inner {
  position: relative;
}

.home__hero--headline {
  font-size: 11vw;
  font-weight: 700;
  line-height: 90%;
}

.home__hero-1,
.home__hero-2,
.home__hero-3,
.home__hero-4 {
  text-align: center;
  color: white;
}

.home__hero-1 {
  opacity: 0.6;
  letter-spacing: -0.025em;
  font-size: 50%;
  line-height: 90%;
}

.home__hero-2 {
  opacity: 0.6;
  letter-spacing: -0.025em;
  margin-top: -0.5vw;
  margin-bottom: -0.5vw;
  font-size: 65%;
  line-height: 90%;
}

.home__hero-3 {
  opacity: 0.6;
  letter-spacing: -0.025em;
  margin-bottom: -0.5vw;
  font-size: 80%;
  line-height: 90%;
}

.home__hero-4 {
  letter-spacing: -0.02em;
  line-height: 90%;
}

.hero__h1 {
  margin: 0 auto;
  line-height: 125%;
  text-wrap: balance;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  max-width: 750px;
  text-align: center;
}

.hero__search--outer {
  max-width: 1000px;
  margin: 0 auto;
}

.hero__below-divider {
  height: calc(100vh - 155.65px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* BILLS */




.bills__container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.bill {
  width: 28%;
  display: flex;
  flex-direction: column;
  margin-bottom: 140px;
  align-items: center;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.bill__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  width: 100%;
  margin-left: 20px;
  text-align: center !important;
}

.bill__img--wrapper {
  transition: all 0.9s ease;
  cursor: pointer;
  opacity: 0.8;
}

.bill__img--wrapper:hover {
  opacity: 1;
}

.bill__img--wrapper:hover .bill__img {
  background-size: 105%;
}

.bill__img--wrapper:hover {
  opacity: 1;
}

.bill__img {
  width: 100%;
  height: 100%;
  min-width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 2px;
  transition: all 2s ease;
}

.bill__title {
  font-size: 24px;
  font-weight: 600;
}

.bill__para {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2px;
}

select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
  font-size: 16px;
}


/* BILL PAGE */

#bill {
  margin: 0 auto;
  margin-top: 50px;
  z-index: 1000;
}

#zind {
  z-index: 1000 !important;

}

.billpage__container {
  display: flex;
  margin-top: 0px;
  align-items: start;
}

.bill__author--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px #000000;
  padding: 20px 60px;
  min-height: 600px;
  border-radius: 20px;
  max-width: 280px;
  background-color: white;
  color: black;
  margin-left: 100px;
}

.author__img--wrapper {
  max-height: 140px;
  max-width: 140px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.author__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author__name {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
  color: black;
}

.author__wing {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  color: black;
}

.email__container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

}

.email__text {
  font-size: 16px;
  font-weight: 500;
  color: black;
margin-bottom: 200px;

}

.envelope {
  font-size: 24px;
}


.email__button {
  margin-top: 10px;
  background-color: #000000;
  transition: all 300ms ease;
  cursor: pointer;
  width: 160px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  border-radius: 100px;
  border: none;
}


.bill__middle--container {
  border-radius: 20px;
  max-width: 1000px;
  margin-left: 60px;
}

.bill__middle--title {
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
}

.bill__middle--date {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
}

.latest__action--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  background: white;
  border-radius: 20px;
}

.latest__action--title {
  font-size: 20px;
  font-weight: bold;;
  padding: 20px;
  color: black;
  
}

.bill__middle--sponsors {
  font-size: 20px;
  margin-bottom: 16px;
  color: black;
  margin-left: 20px;
}

.summary__container {
  background-color: white;
  padding: 40px;
  width: 800px;
  min-height: 400px;
  border-radius: 20px;
}

.summary_h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  color: black;
  text-align: left;
}

.bill__middle--summary {
  font-size: 20px;
  font-weight: 500;
  margin-top: 60px;
  color: #000;
  text-align: left;
}


.news__title {
  font-size: 36px;
  text-align: center;
}

.bill__timeline {
  max-width: 1000px;
  height: 400px;
  margin: 0 auto;
}

.bill__news {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  margin: 0 40px;
  align-items: center;
  margin-bottom: 60px;
  max-width: 360px;
}

.article__title {
  max-width: 320px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 16px;

}

.article__img--wrapper {
  max-width: 400px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 16px;
}

.article__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overhidden {
  overflow: hidden;
}

.similar__bills--wrapper {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}



.bill {
  width: 28%;
  display: flex;
  flex-direction: column;
  margin-bottom: 140px;
  align-items: center;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.back__btn {
  margin-left: 40px;
  font-size: 40px;
}

/* CREATE . JSX */

.create__container {
  display: flex;
  height: calc(100vh - 160px);
  margin-top: 24px;
  padding: 18px;
}

.create__container--left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.create__container--left,
.create__container--right {
  width: 50%;
}

.create__container__img-outer {
  width: 275px;
}

.create__container__img {
  width: 100%;
}

.create__container--h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.create__container--right-form {
  display: flex;
  flex-direction: column;
}

.create__container--label {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.create__container--input {
  height: 36px;
  max-width: 400px;
  width: 100%;
  margin: 48px auto 0;
  color: #000;
}

.label-div {
  margin-bottom: 12px;
  font-size: 2rem;
}

textarea {
  padding: 12px;
  color: #000;
  border: none;
  border-radius: 12px;
  height: 300px;
  box-shadow: 0 12px 30px 0 rgb(0 0 0 / 30%);
}
