@import url("https://fonts.googleapis.com/css2?family=Avantt&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Avantt", sans-serif;
  color: white;
  overflow: hidden;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob, #blur {
  z-index: -1;
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: -1;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(12vmax);
}

.gradient-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #0a042a 0%, #000212 100%);
  z-index: -1;
}

.divider {
  border-bottom: 1px solid white;
}

.divider2 {
  border-bottom: 1px solid black;
}

.divider,
.divider2 {
  margin: 0 auto;
  max-width: 1125px;
  opacity: 0.4;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  padding: 0 8px;
}

nav {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 1200px;
  padding: 32px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  letter-spacing: -0.02em;
  border-radius: 16px;
  font-size: 16px;
  line-height: 1.05;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2);
}

.row {
  margin: 0 auto;
  max-width: 1200px;
}

.nav__row {
  padding: 24px;
}

.nav__list {
  display: flex;
}

video {
  z-index: -999;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.hero__video--lighting {
  z-index: -998;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0) 71%
  );
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.search__container {
  width: 100%;
  display: flex;
}

.search__input {
  background-color: #fff;
  border-radius: 20px;
  border: none;
  color: #0a1f44;
  display: inline-block;
  height: 70px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: all 300ms ease;
  width: 100%;
  font-size: 24px;
  padding-left: 25px;
  box-shadow: 0 12px 30px 0 rgb(0 0 0 / 30%);
}

.search__input:focus {
  border-color: #000000;
}

.fa-magnifying-glass {
  background-color: #000000;
  transition: all 300ms ease;
}

.fa-spinner {
  background-color: black;
  transition: all 300ms ease;
}

.search__btn {
  background-color: #000000;
  transition: all 300ms ease;
  cursor: pointer;
  width: 200px;
  height: 70px;
  margin-left: 20px;
  font-size: 40px;
  color: #fff;
  border-radius: 20px;
  border: none;
  box-shadow: 0 12px 30px 0 rgb(0 0 0 / 30%);
}

#hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero__inner {
  position: relative;
}

.home__hero--headline {
  font-size: 11vw;
  font-weight: 700;
  line-height: 90%;
}

.home__hero-1,
.home__hero-2,
.home__hero-3,
.home__hero-4 {
  text-align: center;
  color: white;
}

.home__hero-1 {
  opacity: 0.4;
  letter-spacing: -0.025em;
  font-size: 50%;
  line-height: 90%;
}

.home__hero-2 {
  opacity: 0.4;
  letter-spacing: -0.025em;
  margin-top: -0.5vw;
  margin-bottom: -0.5vw;
  font-size: 65%;
  line-height: 90%;
}

.home__hero-3 {
  opacity: 0.4;
  letter-spacing: -0.025em;
  margin-bottom: -0.5vw;
  font-size: 80%;
  line-height: 90%;
}

.home__hero-4 {
  letter-spacing: -0.02em;
  line-height: 90%;
}

.hero__h1 {
  margin: 0 auto;
  line-height: 125%;
  text-wrap: balance;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  max-width: 750px;
  text-align: center;
}

.hero__search--outer {
  max-width: 800px;
  margin: 0 auto;
}

.hero__below-divider {
  height: calc(100vh - 155.65px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* BILLS */


.bills__container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.bill {
  width: 28%;
  display: flex;
  flex-direction: column;
  margin-bottom: 140px;
  align-items: center;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.bill__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  width: 100%;
  margin-left: 20px;
  text-align: center !important;
}

.bill__img--wrapper {
  transition: all 0.7s ease;
  cursor: pointer;
}

.bill__img--wrapper:hover {
  transform: scale(1.02);

}

.bill__img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  min-width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  transition: all 2s ease;
}

.bill__title {
  font-size: 24px;
  font-weight: 600;
}

.bill__para {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2px;
}

select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
  font-size: 16px;
}

/* BILL PAGE */

#bill {
  margin: 0 auto;
  margin-top: 50px;
}

.billpage__container {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  margin-top: 50px;
}

.bill__author--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px #000000;
  padding:  40px;
  border-radius: 20px;
  max-width: 280px;
}

.author__img--wrapper {
  width: 160px;
  max-height: 160px;
  max-width: 160px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 16px;
}

.author__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author__name {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.author__wing {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.email__container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.email__text {
  font-size: 20px;
  font-weight: 500;
  margin-left: 8px;
}


.email__button {
  margin-top: 10px;
  background-color: #000000;
  transition: all 300ms ease;
  cursor: pointer;
  width: 160px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  border-radius: 100px;
  border: none;
}


.bill__middle--container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 80px 0;
  border: solid 2px #000000;
  padding: 40px;
  border-radius: 20px;
}

.bill__middle--title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.bill__middle--date {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.bill__middle--sponsors {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.bill__middle--summary {
  font-size: 20px;
  font-weight: 500;
  margin-top: 60px;
}


.news__title {
  font-size: 36px;
  text-align: center;
}

.bill__timeline {
  max-width: 1000px;
  height: 400px;
  margin: 0 auto;
}

.bill__news {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  margin: 0 40px;
  align-items: center;
  margin-bottom: 60px;
  max-width: 360px;
}

.article__title {
  max-width: 320px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 16px;

}

.article__img--wrapper {
  max-width: 400px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 16px;
}

.article__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}